doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/main.css')
    title= 'Easy Order'
    block head
  body
    .background
      .welcome_button= __('welcome')
      .icons
        .icon_sia
          .icon_sap
    script(src='/lib/zepto/zepto.js')
    script(src="/javascripts/main.js")
