doctype html
html
   head
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(charset='utf-8')
      link(rel='stylesheet', href='/stylesheets/sharing/sharing.css')
      link(rel='stylesheet', href='/lib/styles/style.css')
      title= 'I like my new car'
      block head
   body
      .top
         .top-center
            .time
               | Sep 12, 2015 11:44 AM
      .leftd
         .left_img
         .speech.left
            | Hi!
      .leftd
         .left_img
         .speech.left
            .img-container

      .leftd
         .left_img
         .speech.left
            | Look at my NEW car!
      .leftd
         .left_img
         .speech.left
            | It is Audi R8(blsck).
      .leftd
         .left_img
         .speech.left
            | It's born with Industry 4.0!
      .leftd
         .left_img
         .speech.left
            | Isn't this cool?

      .bottom
         .bottom-center
            .dialog
               | I want to one for myself.

      script(src='/lib/zepto/zepto.js')
      script(src="/javascripts/sharing/sharing.js")

